/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.categories li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    height: 60px;
    background-color: orange;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

/* container in header */
.header-container{
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    align-items: center; 
    padding: 10px;
}

/* spaces asigned for each parts of header */
.shop-categories, .shop-functions{
    width: 20%;
}

.logo{
    display: flex;
    justify-content: center;
    width: 60%;
}


.categories{
    display: flex;
    gap: 10px;
}

.logo > img{
    width: 200px;
}

.shop-functions{
    display: flex;
    justify-content: end;
    gap: 15px;
    color: white
}

/* MAIN */

main{
    padding-top: 50px;
}

/* container and flex properties */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    margin: 20px auto;
    max-width: 1100px;
}

/* column properties */
.col{
    width: calc(100% / 3);
    padding: 20px;
}

/* card properties */
.card{
    position: relative;
}

/* Discount in image */
.discount{
    background-color: red;
}

/* sustainability tag */
.sustainability{
    left: 50px;
    background-color: green;
}

.left{
    left: 0;
}

/* shared properties with discount and tag in the image */
.discount, .sustainability{
    position: absolute;
    bottom: 60px;
    z-index: 2;
    color: white;
    padding: 5px;
}

/* heart properties */
.heart{
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 2;
    background-color: aliceblue;
    padding: 5px 10px;
    font-size: 2em;
}

.heart:hover{
    color: red;
}

/* image displayed */
.image-displayed{
    position: relative;
}

/* image displayed on hover */
.image-not-displayed{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card:hover .image-not-displayed{
    display: inline-block;
    z-index: 1;
}

/* Name of the product */
.product-name{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* price after discount */
.discounted-price{
font-weight: bold;
color: red;
}

/* price before discount */
.normal-price{
    font-style: line;
    text-decoration: line-through;
}

/* FOOTER */

/* footer and container */
footer{
    height: 100px;
    background-color: black;
}

.footer-container{
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    align-items: center; 
    padding: 20px;
}

/* legal section properties */
.site-legal-section{
    width: 50%;
    color: white;
}

.social-medias-section h4{
    margin-bottom: 4px;
}

.legal-infos li > a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.legal-infos{
    display: flex;
    gap: 8px
}


/* social media section properties */
.social-medias-section{
    width: 50%;
    color: white;
}


.movement{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.social-medias{
    display: flex;
    gap: 10px;
}
